body {
  background-color: #660066;
  color: white;
}
h1 {
  background-color: #cc0066;
  color: #f8ecf2;
  font-size: 4em;
  padding-bottom: 2%;
  text-align: center;
  font-family: 'Montez', cursive;
  border-top-left-radius: 100%;
}

button, input {
  color: black;
}
